!!!
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      Blueprint Sample Page
    /
      Framework CSS
    %link{ :href => "stylesheets/screen.css", :rel => "stylesheet", :type => "text/css", :media => "screen, projection" }
    %link{ :href => "stylesheets/print.css", :rel => "stylesheet", :type => "text/css", :media => "print" }
    /
      [if lt IE 8]><link rel="stylesheet" href="../../blueprint/ie.css" type="text/css" media="screen, projection"><![endif]
  %body#index.blueprint
    .container
      #header
        %h1
          Welcome to Compass!
        %ul#site-actions
          %li
            %a{ :href => "#" }
              Login
          %li
            %a{ :href => "#" }
              Register
          %li
            %a{ :href => "#" }
              About Us
      #navigation
        %h3
          Related Content
        %ul
          %li
            %a{ :href => "#" }
              Related Page #1
          %li
            %a{ :href => "#" }
              Related Page #2
          %li
            %a{ :href => "#" }
              Related Page #3
          %li
            %a{ :href => "#" }
              Related Page #4
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      #main-content
        %h2
          Using Compass is Easy!
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      #footer
        %p#legalese
          Copyright &copy; 2008. All Rights Reserved. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        #footer-links
          %h3
            Site Links
          %ul
            %li
              %a{ :href => "#" }
                Important Site Area
            %li
              %a{ :href => "#" }
                Related Page #2
            %li
              %a{ :href => "#" }
                Related Page #3
            %li
              %a{ :href => "#" }
                Related Page #4
