/* line 4, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 12, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 16, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  /* line 42, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

/* line 18, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 20, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 22, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
a img {
  border: none; }

/* line 21, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body.blueprint {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%; }
  /* line 52, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint h1 {
    font-weight: normal;
    color: #222222;
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em; }
    /* line 57, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.blueprint h1 img {
      margin: 0; }
  /* line 59, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint h2 {
    font-weight: normal;
    color: #222222;
    font-size: 2em;
    margin-bottom: 0.75em; }
  /* line 63, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint h3 {
    font-weight: normal;
    color: #222222;
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em; }
  /* line 68, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint h4 {
    font-weight: normal;
    color: #222222;
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em; }
  /* line 73, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint h5 {
    font-weight: normal;
    color: #222222;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em; }
  /* line 78, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint h6 {
    font-weight: normal;
    color: #222222;
    font-size: 1em;
    font-weight: bold; }
  /* line 82, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint h2 img, body.blueprint h3 img, body.blueprint h4 img, body.blueprint h5 img, body.blueprint h6 img {
    margin: 0; }
  /* line 84, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint p {
    margin: 0 0 1.5em; }
    /* line 86, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.blueprint p img.left {
      display: inline;
      float: left;
      margin: 1.5em 1.5em 1.5em 0;
      padding: 0; }
    /* line 90, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.blueprint p img.right {
      display: inline;
      float: right;
      margin: 1.5em 0 1.5em 1.5em;
      padding: 0; }
  /* line 94, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint a {
    text-decoration: underline;
    color: #000099; }
    /* line 12, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.blueprint a:visited {
      color: #000066; }
    /* line 15, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.blueprint a:focus {
      color: black; }
    /* line 18, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.blueprint a:hover {
      color: black; }
    /* line 21, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.blueprint a:active {
      color: #cc0099; }
  /* line 97, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint blockquote {
    margin: 1.5em;
    color: #666;
    font-style: italic; }
  /* line 101, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint strong {
    font-weight: bold; }
  /* line 103, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint em {
    font-style: italic; }
  /* line 105, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint dfn {
    font-style: italic;
    font-weight: bold; }
  /* line 108, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint sup, body.blueprint sub {
    line-height: 0; }
  /* line 110, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint abbr, body.blueprint acronym {
    border-bottom: 1px dotted #666; }
  /* line 112, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint address {
    margin: 0 0 1.5em;
    font-style: italic; }
  /* line 115, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint del {
    color: #666; }
  /* line 117, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint pre {
    margin: 1.5em 0;
    white-space: pre; }
  /* line 120, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint pre, body.blueprint code, body.blueprint tt {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1.5; }
  /* line 122, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint li ul, body.blueprint li ol {
    margin: 0 1.5em; }
  /* line 124, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint ul {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: disc; }
  /* line 127, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint ol {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: decimal; }
  /* line 130, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint dl {
    margin: 0 0 1.5em 0; }
    /* line 132, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.blueprint dl dt {
      font-weight: bold; }
  /* line 134, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint dd {
    margin-left: 1.5em; }
  /* line 136, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint table {
    margin-bottom: 1.4em;
    width: 100%; }
  /* line 139, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint th {
    font-weight: bold; }
  /* line 141, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint thead th {
    background: #c3d9ff; }
  /* line 143, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint th, body.blueprint td, body.blueprint caption {
    padding: 4px 10px 4px 5px; }
  /* line 145, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint tr.even td {
    background: #e5ecf9; }
  /* line 147, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint tfoot {
    font-style: italic; }
  /* line 149, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint caption {
    background: #eee; }
  /* line 151, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint .quiet {
    color: #666666; }
  /* line 153, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.blueprint .loud {
    color: #111111; }

/* line 18, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body.blueprint body {
  margin: 1.5em 0; }
/* line 35, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body.blueprint .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #E5ECF9; }
/* line 38, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body.blueprint div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eee; }
/* line 41, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body.blueprint div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eee; }
/* line 43, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body.blueprint hr {
  background: #ddd;
  color: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none; }
/* line 45, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body.blueprint hr.space {
  background: #ddd;
  color: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
  background: #fff;
  color: #fff; }
/* line 10, ../../app/stylesheets/screen.sass */
body.blueprint .container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block; }
  /* line 5, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  body.blueprint .container {
    display: block; }

/* line 14, ../../app/stylesheets/screen.sass */
body#index #header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 710px; }
  /* line 97, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html body#index #header {
    overflow-x: hidden; }
  /* line 16, ../../app/stylesheets/screen.sass */
  body#index #header h1 {
    float: left; }
  /* line 18, ../../app/stylesheets/screen.sass */
  body#index #header #site-actions {
    float: right;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    display: inline-block; }
    /* line 5, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
    body#index #header #site-actions {
      display: block; }
    /* line 50, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
    body#index #header #site-actions li {
      list-style-type: none;
      margin-left: 0px;
      white-space: nowrap;
      display: inline;
      float: left;
      padding-left: 4px;
      padding-right: 4px; }
      /* line 40, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
      body#index #header #site-actions li.first {
        padding-left: 0px; }
      /* line 42, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
      body#index #header #site-actions li.last {
        padding-right: 0px; }
/* line 21, ../../app/stylesheets/screen.sass */
body#index #navigation {
  float: left;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  display: inline-block;
  text-align: left; }
  /* line 5, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  body#index #navigation {
    display: block; }
  /* line 50, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
  body#index #navigation li {
    list-style-type: none;
    margin-left: 0px;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
    /* line 40, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
    body#index #navigation li.first {
      padding-left: 0px; }
    /* line 42, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
    body#index #navigation li.last {
      padding-right: 0px; }
/* line 25, ../../app/stylesheets/screen.sass */
body#index #main-content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 710px; }
  /* line 97, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html body#index #main-content {
    overflow-x: hidden; }
  /* line 27, ../../app/stylesheets/screen.sass */
  body#index #main-content #users {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 350px;
    margin: 10px 10px 20px 20px; }
    /* line 97, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html body#index #main-content #users {
      overflow-x: hidden; }
    /* line 30, ../../app/stylesheets/screen.sass */
    body#index #main-content #users #user {
      background-color: lightGrey;
      margin-bottom: 5px; }
/* line 33, ../../app/stylesheets/screen.sass */
body#index #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 710px; }
  /* line 97, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html body#index #footer {
    overflow-x: hidden; }
  /* line 35, ../../app/stylesheets/screen.sass */
  body#index #footer #legalese {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 790px; }
    /* line 97, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html body#index #footer #legalese {
      overflow-x: hidden; }
  /* line 37, ../../app/stylesheets/screen.sass */
  body#index #footer #footer-links {
    display: inline;
    float: left;
    margin-right: 0;
    width: 150px; }
    /* line 97, ../../vendor/gems/chriseppstein-compass-0.6.15/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html body#index #footer #footer-links {
      overflow-x: hidden; }
