#navigation
  %ul
    %li
      %a{ :href => "#" }
        Related Page #1
    %li
      %a{ :href => "#" }
        Related Page #2
    %li
      %a{ :href => "#" }
        Related Page #3
    %li
      %a{ :href => "#" }
        Related Page #4
